%h1 Search Results:

- @matching_movies.each do |movie|

  %h2= movie.title
  = image_tag (@configuration.base_url).to_s + (@configuration.poster_sizes[0]).to_s +  (movie.poster_path).to_s
  %ul#details
    %li
      %strong ID
      = movie.id
    %li
      %strong Release Date:
      = movie.release_date
    %li
      %strong Poster URL
      = (@configuration.base_url).to_s + (@configuration.poster_sizes[0]).to_s +  (movie.poster_path).to_s
    %li
      %strong Description:
      = truncate(movie.overview, :length => 250)
    %li
      %strong Content Rating
      =(Tmdb::Movie.releases(movie.id).flatten)[3][0]["certification"]
    %li
      %strong Add to Rotten Potatoes
      %td=check_box_tag 'checked_movie_ids[]',movie.id
      
= form_tag movies_path, :method => :get, :id => 'add_movies_form' do
  = submit_tag 'Add Selected Movies'
      
  